<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >

<head>
</head>
 
 <body>

	<div th:fragment="nav-private"> 
		<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container">
		
		    <!-- Title -->
		    <div class="navbar-header pull-left">
		      <a href="#" class="navbar-brand">ITAIS</a>
		    </div>
		
		    <!-- 'Sticky' (non-collapsing) right-side menu item(s) -->
		    <div class="navbar-header pull-right">
		      <ul class="nav pull-left">
		      <!-- <li class="navbar-text pull-left"><span th:text ="${#authentication.getPrincipal().getUser().getFirstName()}"></span></li>  -->
		
		        <li class="dropdown pull-right">
		          <a class="dropdown-toggle nav-login" data-toggle="dropdown"  href="#" >
		          	<span class="glyphicon glyphicon-user" /> <span th:text ="|${#authentication.getPrincipal().getUser().getFirstName()} ${#authentication.getPrincipal().getUser().getLastName()}|" /> <b class="caret"></b></a>
		          <ul class="dropdown-menu" style="min-width:40px; width:100%">
		            <li> 
		            	<a href="#">
		            	<span class="glyphicon glyphicon-list-alt"/>
		            	My Profile</a> 
		            </li>

		               <li class="divider"></li>
					<li>
						<div class="col-md-12">
							<form sec:authorize="isAuthenticated()" id="frmlogout"
								th:action="@{/logout}" method="post" class="form-inline">
								<button class="btn btn-create btn-block" href="javascript:{}"
									onclick="document.getElementById('frmlogout').submit(); return false;">
									<span class="glyphicon glyphicon-log-out"/> Logout
								</button>
							</form>
						</div>
					</li>
		          </ul>
		        </li>
		      </ul>
		
		      <!-- Required bootstrap placeholder for the collapsed menu -->
		      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
		      </button>
		    </div>
		
		    <!-- The Collapsing items            navbar-left or navbar-right -->
		    <div class="collapse navbar-collapse navbar-left">
		      <!--                      pull-right keeps the drop-down in line -->
		      <ul class="nav navbar-nav pull-right">
				<li><a href="/">
					<span class="glyphicon glyphicon-home"/>
					Home</a>
				</li>
				<li><a href="/office/main">
					<span class="glyphicon glyphicon-folder-open"/>
					Office Branches</a>
				</li>
				<li><a href="/inventory/main">
					<span class="glyphicon glyphicon-bullhorn"/>
					Inventories</a>
				</li>
				<li><a href="/user/main">
					<span class="glyphicon glyphicon-inbox"/>
					User Accounts</a>
				</li>
				<li sec:authorize="hasAuthority('ROLE_SA')"><a href="/classification/list"><span class="glyphicon glyphicon-tags"/> Classifications</a></li>
		      </ul>
		    </div>
		    
		  </div>
		</nav>
	</div>
	
  </body>
</html>
