<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="layouts/fragments :: head-bootstrap-core"></head>
	<head th:replace="layouts/fragments :: head-custom-css"></head>

	<style>
		.table > tbody > tr > td:first-child {
		font-weight: bold;
}
	
	</style>

<body>

	<div th:replace="layouts/navigation:: nav-top"></div>

	<div id="wrapper">

		<div th:replace="layouts/navigation:: nav-side"></div>

		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12" id="print-content">
						<!-- Page Content -->



						<h2 class="page-header">Inventory Details</h2>
						<div class="row">
							<div class="col-md-8">
								<div class="panel panel-default panel-body">
									<table class="table table-striped">
										<tr>
											<td>Name:</td>
											<td th:text="${inventories.name}"></td>
										</tr>
										<tr>
											<td>Office Branch:</td>
											<td th:text="${inventories.office.name}"></td>
										</tr>
										<tr>
											<td>Date Created:</td>
											<td
												th:text="${#calendars.format(inventories.createdOn,'dd MMMM yyyy')}" />
										</tr>
										<tr>
											<td>Serial Number:</td>
											<td th:text="${inventories.serialNumber}" />
										</tr>
										<tr>
											<td>Machine Type:</td>
											<td th:text="${inventories.assetType.type}" />
										</tr>
										<tr>
											<td>Status:</td>
											<td th:text="${inventories.assetStatus.status}" />
										</tr>
										<tr>
											<td>Manufacturer:</td>
											<td th:text="${inventories.manufacturer}" />
										</tr>
										<tr>
											<td>Model:</td>
											<td th:text="${inventories.model}" />
										</tr>
										<tr>
											<td>Operating System:</td>
											<td th:text="${inventories.osName}" />
										</tr>
										<tr>
											<td>Version:</td>
											<td th:text="${inventories.osVersion}" />
										</tr>
										<tr>
											<td>Service Pack:</td>
											<td th:text="${inventories.osServicePack}" />
										</tr>
										<tr>
											<td>Memory (MB):</td>
											<td
												th:text="${#numbers.formatInteger(inventories.memory,1,'COMMA')}" />
										</tr>
										<tr>
											<td>Disk Drive/s:</td>
											<td th:text="${inventories.hdd}" />
										</tr>
										<tr>
											<td>Processor:</td>
											<td th:text="${inventories.processorName}" />
										</tr>
										<tr>
											<td>Processor Count:</td>
											<td th:text="${inventories.processorCount}" />
										</tr>
										<tr>
											<td>Acquisition Date:</td>
											<td th:if="${inventories.acquisitionDate} != null"
												th:text="${#calendars.format(inventories.acquisitionDate,'dd MMMM yyyy')}" />
										</tr>
										<tr>
											<td>Acquisition Cost:</td>
											<td
												th:text="${#numbers.formatDecimal(inventories.acquisitionCost,1,'COMMA',2,'POINT')}" />
										</tr>
										<tr>
											<td>Warranty Provider:</td>
											<td th:text="${inventories.warrantyProvider}" />
										</tr>
										<tr>
											<td>Warranty Expiration:</td>
											<td th:if="${inventories.warrantyExpirationDate} != null"
												th:text="${#calendars.format(inventories.warrantyExpirationDate,'dd MMMM yyyy')}" />
										</tr>
									</table>
								</div>
							</div>

							<div class="col-md-2">
								<div class="panel panel-default panel-body" align="center">
									<div id="qrCode"></div>
								</div>

							</div>
						</div>
					
					<!-- Page content -->
					</div>

					<div class="col-sm-6">
						<a type="button" class="btn btn-default"
							th:href="|@{/inventory/main}"><span
							class="glyphicon glyphicon-backward" /> Back</a> <a type="button"
							class="btn btn-default"
							th:href="|@{/inventory/edit/}${inventories.id}|"><span
							class="glyphicon glyphicon-edit" /> Edit</a> <a type="button"
							class="btn btn-default" data-toggle="modal"
							data-target="#deleteModal"> <span
							class="glyphicon glyphicon-trash" /> Delete
						</a> <a type="button" class="btn btn-default"
							onclick="printDiv('print-content')"> <span
							class="glyphicon glyphicon-print" /> Print
						</a>
					</div>

					<!-- Modal -->
					<div class="modal fade" id="deleteModal" role="dialog">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">&times;</button>
									<h4 class="modal-title">Warning</h4>
								</div>
								<div class="modal-body">
									<p>Are you sure you want to delete this record?</p>
								</div>
								<div class="modal-footer">
									<a th:href="|@{/inventory/deleteconfirmed/}${inventories.id}|"
										type="button" class="btn btn-default"><span
										class="glyphicon glyphicon-ok" /> Yes</a> <a type="button"
										class="btn btn-primary" data-dismiss="modal"><span
										class="glyphicon glyphicon-remove" /> No</a>
								</div>
							</div>
						</div>
					</div>



					<!-- /#page-content-wrapper -->

				</div>
			</div>
		</div>
	</div>
	<!-- /#wrapper -->

	<div th:replace="layouts/fragments :: script-bootstrap-core"></div>
	<div th:replace="layouts/fragments :: script-qrcode"></div>
	<div th:replace="layouts/fragments :: script-navbar"></div>


	<script type="text/javascript" th:inline="javascript">
		//jQuery('#qrcode').qrcode("this plugin is great");
		jQuery('#qrCode').qrcode({
			width: 128,
			height: 128,
			render	: "table",
			text	: [[${inventories.serialNumber}]]
		});	
		
		//Print content
		function printDiv(divName) {
			 var printContents = document.getElementById(divName).innerHTML;
			 w=window.open();
			 w.document.write(printContents);
			 w.print();
			 w.close();
		}
	</script>


</body>
</html>