<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="layouts/fragments :: head-bootstrap-core"></head>
	<head th:replace="layouts/fragments :: head-datatable"></head>
	<head th:replace="layouts/fragments :: head-custom-css"></head>

	<div th:replace="layouts/fragments :: script-datatable"></div>

	<script type="text/javascript" language="javascript" class="init">
		$(document).ready(
				function() {
					$('#dataTable').DataTable({
						"scrollX" : true,
						dom : 'Bfrtip',
						buttons : [ 'print', 'copyHtml5', {
							extend : 'excelHtml5',
							title : 'Office List'
						}, {
							extend : 'csvHtml5',
							title : 'Office List'
						}, {
							extend : 'pdfHtml5',
							title : 'Office List'
						}, 'colvis' ]
					});

					table.buttons().container().appendTo(
							'#example_wrapper .col-sm-6:eq(0)');
				});
	</script>	

<body>

	<div th:replace="layouts/navigation:: nav-top"></div>
	
	<div id="wrapper">
	
		<div th:replace="layouts/navigation:: nav-side"></div>
	
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12" id="print-content">
	        			<!-- Page Content -->
	
		
						<h2 class="page-header">
							Office Branches 
							<a th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}" href="/office/create" 
							class="btn btn-default pull-right" role="button"><span class="glyphicon glyphicon-pencil" /> Create</a>
						</h2>
						
							<table class="table table-striped table-bordered" width="100%" cellspacing="0" id="dataTable">
								<thead>
									<tr>
										<th>Office</th>
										<th>Location</th>
										<th>Description</th>									
										<th>Status</th>
										<th>Date Created</th>
										<th>Inventory Count</th>
									</tr>
								</thead>									
								<tbody>
										<th:block th:each="office : ${offices}">
									<tr>
										<td> 
											<a class="link-title" th:href="|@{/office/read/}${office.id}|">
											<span th:text="${office.name}" /></a>
										</td>
										<td th:text="${office.location}" />
										<td th:text="${office.description}" />
										<td>
											<span th:if="${office.status} == true" >Online</span>
											<span th:if="${office.status} == false" >Offline</span>
										</td>
										<td th:text="${#calendars.format(office.createdOn,'dd/MM/yyyy')}">
										</td>
										<td th:text="${office.inventories.size()}"></td>
									</tr>
									
				
										</th:block>
									</tbody>
								</table>


        				<!-- /#page-content-wrapper -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->


	<div th:replace="layouts/fragments :: script-navbar"></div>
	

</body>
</html>