<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/fragments :: head-bootstrap-core"></head>
<head th:replace="layouts/fragments :: head-custom-css"></head>

<style>
.table>tbody>tr>td:first-child {
	font-weight: bold;
}
</style>


<body>

	<div th:replace="layouts/navigation:: nav-top"></div>

	<div id="wrapper">

		<div th:replace="layouts/navigation:: nav-side"></div>

		<div id="page-content-wrapper">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12" id="print-content">
						<!-- Page Content -->



						<h2 class="page-header">User Details</h2>

						<div class="row">
							<div class="col-md-8">

								<div class="panel panel-default panel-body">

									<table class="table table-striped">
										<tr>
											<td>Name:</td>
											<td><span
												th:text="|${users.firstName} ${users.lastName}|" /></td>
										</tr>
										<tr>
											<td>Office Branch:</td>
											<td><span th:text="${users.office?.name}" /></td>
										</tr>
										<tr>
											<td>Email:</td>
											<td><span th:text="${users.email}" /></td>
										</tr>
										<tr>
											<td>Role:</td>
											<td><span th:text="${users.role.name}" /></td>
										</tr>
									</table>




								</div>
							</div>
						</div>
					</div>
						<div class="col-md-6">
							<a type="button" class="btn btn-default" th:href="|@{/user/main}"><span
								class="glyphicon glyphicon-backward" /> Back</a> <a
								th:if="(${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')} 
								OR ${#authentication.getPrincipal().getUser().getId()} == ${users.id})"
								type="button" class="btn btn-default"
								th:href="|@{/user/edit/}${users.id}|"><span
								class="glyphicon glyphicon-edit" /> Edit</a> <a
								th:if="${#authorization.expression('hasAuthority(''ROLE_ADMIN'')')}"
								type="button" class="btn btn-default" data-toggle="modal"
								data-target="#deleteModal"> <span
								class="glyphicon glyphicon-trash" /> Delete
							</a> <a type="button" class="btn btn-default"
								onclick="printDiv('print-content')"> <span
								class="glyphicon glyphicon-print" /> Print
							</a>

						</div>

						<!-- Modal -->
						<div class="modal fade" id="deleteModal" role="dialog">
							<div class="modal-dialog modal-sm">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Warning</h4>
									</div>
									<div class="modal-body">
										<p>Are you sure you want to delete this record?</p>
									</div>
									<div class="modal-footer">
										<a th:href="|@{/user/deleteconfirmed/}${users.id}|"
											type="button" class="btn btn-default"><span
											class="glyphicon glyphicon-ok" /> Yes</a> <a type="button"
											class="btn btn-primary" data-dismiss="modal"><span
											class="glyphicon glyphicon-remove" /> No</a>
									</div>
								</div>
							</div>
						</div>



						<!-- /#page-content-wrapper -->
					
				</div>
			</div>
		</div>
	</div>
	<!-- /#wrapper -->

	<div th:replace="layouts/fragments :: script-bootstrap-core"></div>
	<div th:replace="layouts/fragments :: script-navbar"></div>

	<script type="text/javascript" th:inline="javascript">
		
		//Print content
		function printDiv(divName) {
			 var printContents = document.getElementById(divName).innerHTML;
			 w=window.open();
			 w.document.write(printContents);
			 w.print();
			 w.close();
		}
	
	</script>


</body>
</html>