@charset 'UTF-8';


@font-face{font-family:'Museo500';src:url('/fonts/Museo-500.otf') format('truetype');}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 60px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  font-size: 12px;
  text-align: center;
}


/* Login form */
#login-dp{
    min-width: 250px;
    padding: 20px;
    overflow:hidden;
}
#login-dp .form-group {
    margin-bottom: 10px;
}


/* Form: Input Labels */
#label-create {
	text-align: left;
}


/* Banner */
.jumbotron {
  /* background-color: #E60000;
background: #fe8c00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  font-family: "Museo500", Arial;
  color: #fff;
  padding: 20px;
} 


/* Badge colors */
.badge {
  font-weight: bold;
}
.badge-offline {
  background-color: #E60000;
  font-size: 10px;
}
.badge-online {
  background-color: #468847;
  font-size: 10px;
}


/* Horizontal rule */
hr {
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}

hr.faded { 
    margin-top: 20px;
    margin-top: 20px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
	}




/* Headers */
h1, h2, h3, h4 { 
    font-family: "Museo500", Arial;
}
.page-header { 
    color: #E60000;
}


/* Create Button */
.btn-create {
	color: #FFFFFF;
	background-color: #000054;
}
.btn-create:hover {
	color:#FFFFFF;
	background-color:#0000ff;
}



/* Owner, Repository, CFP and Date */
.label.label-owner {
	background-color: #000000;
	margin-right: 5px;
}
.label.label-date {
	background-color: #FFFFFF;
	color: #000000;
}


/* Login Menu */
.dropdown-toggle.nav-login {
	color:#9d9d9d;
	margin-top: 5px;
}

.dropdown-toggle.nav-login:hover {
	color:#FFFFFF;
	background-color:transparent;
}

.dropdown.open > .dropdown-toggle.nav-login {
	color:#FFFFFF;
	background-color:transparent;
}


/* Repository, CFP & Proposal Title */
a.link-title {
	color:#000054;
}
a.link-title:hover {
	color:#E60000;
}

