<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<head th:replace="layouts/fragments :: head-bootstrap-core"></head>
	<head th:replace="layouts/fragments :: head-custom-css"></head>
	<div th:replace="layouts/fragments :: script-chart"></div>
<body>

	<div th:replace="layouts/navigation:: nav-top"></div>
	
	<div id="wrapper">
	
		<div th:replace="layouts/navigation:: nav-side"></div>
	
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
	        			<!-- Page Content -->


                        <h2 class="page-header">About ITAIS</h2>
			            <div class="row">
			            	<div class="col-md-12">
			                
			                <p>Maintains inventory of the organization's IT assets like servers and computers, and track asset details throughout its lifecycle from acquisition to decommissioning. </p>
			                
			                <p>This tool provides the ability to monitor warranty services and provide an overall picture of the current IT assets of the organization.</p>			                
			                
			                </div>
			        	</div>

        				<!-- /#page-content-wrapper -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
   
	<div th:replace="layouts/fragments :: script-bootstrap-core"></div>
	<div th:replace="layouts/fragments :: script-navbar"></div>


</body>
</html>