<!DOCTYPE html>
<html lang="en">

	<head th:replace="layouts/fragments :: head-bootstrap-core"></head>
	<head th:replace="layouts/fragments :: head-custom-css"></head>

<body>

	<div th:replace="layouts/navigation:: nav-top"></div>
	
	<div id="wrapper">
	
		<div th:replace="layouts/navigation:: nav-side"></div>
	
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
	        			<!-- Page Content -->


                        <h2 class="page-header">Home</h2>
			            <div class="col-md-8">
			                <div class="panel panel-default">
			                    <div class="panel-heading">
			                        <h4><i class="fa fa-fw fa-check"></i> Dashboard</h4>
			                    </div>
			                    <div class="panel-body">
			                         <p>Sample data only... </p>
			                        <p>Sample data only... </p>
			                        <p>Sample data only... </p>
			                        <p>Sample data only... </p>
			                        <p>Sample data only... </p>
			                        <p>Sample data only... </p>
			                        <p>Sample data only... </p>
			                        <p>Sample data only... </p> 
			                    </div>
			                </div>
			            </div>
			            <div class="col-md-4">
			            	<row>
			                <div class="panel panel-default">
			                    <div class="panel-heading">
			                        <h4><i class="fa fa-fw fa-gift"></i> Warranty expired</h4>
			                    </div>
			                    <div class="panel-body">
			                        <p>DomainController2... </p>
			                        <p>WebServer3... </p>
			                        <p>VirtualMachine01... </p>
			
			                    </div>
			                </div>
			                </row>
			                
			            	<row>
			                <div class="panel panel-default">
			                    <div class="panel-heading">
			                        <h4><i class="fa fa-fw fa-gift"></i> Warranty about to expire</h4>
			                    </div>
			                    <div class="panel-body">
			
			                        <p>VirtualMachine03... </p>
			                        <p>DatabaseServer02... </p>
			                        <p>Desktop01... </p>
			                    </div>
			                </div>
			                </row>
			            </div>                      


        				<!-- /#page-content-wrapper -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
   
	<div th:replace="layouts/fragments :: script-bootstrap-core"></div>
	<div th:replace="layouts/fragments :: script-navbar"></div>

		
</body>
</html>