<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<head th:replace="layouts/fragments :: head-bootstrap-core"></head>
	<head th:replace="layouts/fragments :: head-custom-css"></head>
	<div th:replace="layouts/fragments :: script-chart"></div>
<body>

	<div th:replace="layouts/navigation:: nav-top"></div>
	
	<div id="wrapper">
	
		<div th:replace="layouts/navigation:: nav-side"></div>
	
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
	        			<!-- Page Content -->


                        <h2 class="page-header">Dashboard</h2>
			            <row>
			                <div class="panel panel-default">
			                    <div class="panel-heading">
			                        <h4>Warranty: About to expire within 60 days</h4>
			                    </div>
			                    <div class="panel-body">
									  <table class="table table-striped">
									    <thead>
									      <tr>
									      	<th>Office Branch</th>
									        <th>Name</th>
									        <th>Serial Number</th>
									        <th>Warranty Expiration</th>
									      </tr>
									    </thead>
									    <tbody>
									    <th:block th:each="iate : ${invAboutToExpire}">
									      <tr>
									      	<td th:text="${iate.office.name}" />
									        <td th:text="${iate.name}" />
									        <td th:text="${iate.serialNumber}" />
									        <td th:text="${iate.warrantyExpirationDate}" />
									      </tr>
									    </th:block>
									    </tbody>
									  </table>
			                    </div>
			                </div>
			            	<div class="panel panel-default">
			                    <div class="panel-heading">
			                        <h4>Warranty: Expired</h4>
			                    </div>
			                    <div class="panel-body">
									  <table class="table table-striped">
									    <thead>
									      <tr>
									      	<th>Office Branch</th>
									        <th>Name</th>
									        <th>Serial Number</th>
									        <th>Warranty Expiration</th>
									      </tr>
									    </thead>
									    <tbody>
									    <th:block th:each="ie : ${invExpired}">
									      <tr>
									      	<td th:text="${ie.office.name}" />
									        <td th:text="${ie.name}" />
									        <td th:text="${ie.serialNumber}" />
									        <td th:text="${ie.warrantyExpirationDate}" />
									      </tr>
									    </th:block>
									    </tbody>
									  </table>
			                    </div>
			                </div>
			        	</row>
		    

						<row>
									            
			            <div class="col-md-6">
			            	
			                <div class="panel panel-default">
			                    <div class="panel-heading">
			                        <h4>Inventory per Office Branch</h4>
			                    </div>
			                    <div class="panel-body">
									<canvas id="officeChart" />
			                    </div>
			                </div>
			                
			             </div>
			             <div class="col-md-6">   
			            	
			                <div class="panel panel-default">
			                    <div class="panel-heading">
			                        <h4>Inventory per Machine Type</h4>
			                    </div>
			                    <div class="panel-body">
									<canvas id="assetTypeChart" />
			                    </div>
			                </div>
			                
		                
			            </div>                      
						</row>

        				<!-- /#page-content-wrapper -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
   
	<div th:replace="layouts/fragments :: script-bootstrap-core"></div>
	<div th:replace="layouts/fragments :: script-navbar"></div>

	<script type="text/javascript" th:inline="javascript">

		var officeData = [[${officeJson}]];
		
		var oColors=myFunction("colors",officeData);
		var oLabels=myFunction("labels",officeData);
		var oData=myFunction("data",officeData);
		
		var ctx = document.getElementById("officeChart").getContext('2d');
		var myChart = new Chart(ctx, {
		  type: 'doughnut',
		  options: {
		      responsive: true
		  },
		  data: {
		    labels: oLabels,
		    datasets: [{
		      backgroundColor: oColors,
		      data: oData
		    }]
		  }
		});

		
		var assetTypeData = [[${assetTypeJson}]];
		
		var atColors=myFunction("colors",assetTypeData);
		var atLabels=myFunction("labels",assetTypeData);
		var atData=myFunction("data",assetTypeData);
		
		var ctx = document.getElementById("assetTypeChart").getContext('2d');
		var myChart = new Chart(ctx, {
		  type: 'doughnut',
		  options: {
		      responsive: true
		  },
		  data: {
		    labels: atLabels,
		    datasets: [{
		      backgroundColor: atColors,
		      data: atData
		    }]
		  }
		});		
		
		
		
		
		function myFunction(mode, jsonData) {

			var jData = JSON.parse(jsonData);
			
			var labels = [];
			var colors = [];
			var data = [];
			var x;
			for (x in jData) {
				labels.push(jData[x].name);
				colors.push(jData[x].color);
				data.push(jData[x].invCount);
			}
			
			if(mode=="colors") {
				return colors;
			} else if (mode=="labels"){
				return labels;
			} else {
				return data;
			}
		}

</script>


</body>
</html>